.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}
.connectDiv {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 100%;
  background-color: green;
  width: 100%;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  touch-action: manipulation;
  user-select: none;
  font-family: Roboto;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border: 0;
  margin-bottom: 20px;
  transition: all 250ms ease-in-out;

  text-transform: uppercase;
  letter-spacing: 4px;

  &--gradient {
    transition: all 500ms ease-in-out;
    font-size: 24px;

    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: linear-gradient(54.7deg, #960ead 12%, #0ad8c7 100%);

    &:hover,
    &:active {
      color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      opacity: 0;

      transition: all 500ms ease-in-out;
      background: linear-gradient(54.7deg, #0ad8c7 12%, #960ead 100%);
    }
    &:hover {
      &:before {
        opacity: 1;
        color: #fff;
      }
    }
  }

  &--xlrg {
    height: 68px;
    line-height: 68px;
    padding: 0 24px;
  }

  &__text {
    z-index: 2;
    position: relative;
  }
}
